@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#nav {
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  #nav {
    padding: 0.5rem 3rem;
  }
}
@keyframes custom-bounce {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.animate-custom-bounce {
  animation: custom-bounce 2s infinite;
}
.before\:transition-transform::before {
  background-color: #000;
}
.after\:transition-transform::after {
  background-color: #000;
}
.uploadButton {
  pointer-events: none;
  border: none !important;
  padding: 6px 0 !important;
}
.uploadButton::-webkit-file-upload-button {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
  background-color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
  pointer-events: all !important;
  cursor: pointer;
}
.uploadButton::-webkit-file-upload-button:hover {
  color: #fff;
  background-color: #1f57c3;
  border-color: #fff;
  transition: 0.3s;
}
.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #1f57c3 transparent #1f57c3 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  .projects-item-container {
    grid-template-columns: 1.5fr 2fr !important;
  }
}
