@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
#nav {
  padding: 0.5rem 1rem;
}
@media (min-width: 768px) {
  #nav {
    padding: 0.5rem 3rem;
  }
}
@keyframes custom-bounce {
  0% {
    transform: translateX(-10px);
  }
  25% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.animate-custom-bounce {
  animation: custom-bounce 2s infinite;
}
.before\:transition-transform::before {
  background-color: #000;
}
.after\:transition-transform::after {
  background-color: #000;
}
.uploadButton {
  pointer-events: none;
  border: none !important;
  padding: 6px 0 !important;
}
.uploadButton::-webkit-file-upload-button {
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #000;
  background-color: #fff;
  font-weight: 600;
  padding: 0.5rem 0.75rem;
  margin-right: 1rem;
  pointer-events: all !important;
  cursor: pointer;
}
.uploadButton::-webkit-file-upload-button:hover {
  color: #fff;
  background-color: #1f57c3;
  border-color: #fff;
  transition: 0.3s;
}
